body {
    background-color: beige;
}

.flex-container{
    /* border: 1px solid black; */
    background-color: beige;
    padding: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* align-content: stretch; */
    height: auto;
    margin: 0 auto;
/* justify-content me sirve para organizar donde estan los elementos en la caja */
/* Flex direction --redirecciona el orden de visualizacion */
    /* flex-direction: row;
    flex-wrap: wrap; */
/* Flex wrap reorganiza en la caja haciendola mas grande */
/* flex flow contiene a direction y wrap */
/* align items para moverlos vertical en el container */
}

.Caja{
    /* border: 1px solid black; */
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: auto;
    text-align: center;
    margin: 5px;
}

.C1 {
    /* background-color: lightblue; */
    flex-flow: row-reverse nowrap;
    order: 1;
    /* flex-grow: 1; */
    /* Usar como width con porcentaje */
}

.C2{
    flex-flow: row wrap;
    order: 1;
    flex-grow: 2;
    flex-basis: 80%;
    padding: 0 2% 0 2%;
    
}

.btn-dark{
    padding-bottom: 5%;
}

.form-group{
font-size: large;    
}