<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetsFiles</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="{{url_for('static',filename='/img/logo.ico')}}" alt="logo icono">
  <link rel="stylesheet" href="{{url_for('static',filename="estilo.css")}}">
</head>

<body>
  <section>
<nav class="navbar navbar-expand-lg sticky-top py-3 shadow-sm" style="background-color: rgb(39, 150, 248) ;">
  <div class="container">
    <a href="#" class="navbar-brand">
      <div id="navbarSupportedContent" class="collapse navbar-collapse d-flex d-flex justify-content-end">
        <ul class="navbar-nav ml-auto fw-bold">
          <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link">Inicio</a></li>
        </ul>
      </div>
  
  <a id="loguito" href="{{url_for('index')}}" class="text-center"><img src="{{url_for('static',filename='/img/logo.webp')}}" alt="Logo" width="170px"
  height="80px">
  </a>
</nav>
    <center>
      <h3 class="indigo-text">Inicia Sesion</h3>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
          style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" action={{url_for('login')}} method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>
            <!--input_email-->
            <div class='row'>
              <div class='input-field col s12'>
                <input name="nombre_vet" type="text" required>
                <label for='email'>Ingresa el nombre de tu veterinaria</label>
              </div>
            </div>
            <!--input_contraseña-->
            <div class='row'>
              <div class='input-field col s12'>
                <input name="password" type="password" required>
                <label for='password'>Ingresa tu contraseña</label>
              </div>
              <label style='float: right;'>
                <!--olvidar_contraseña-->
                <a class='pink-text' href='#!'><b>¿Olvidaste tu Contraseña?</b></a>
              </label>
            </div>
            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login'
                  class='col s12 btn btn-large waves-effect indigo'>Ingresar</button>
                  {% if malingreso%}
                <label id="errorlogin">{{malingreso}}</label>
                  {% endif%}
              </div>
            </center>
          </form>
        </div>
      </div>
      <!--ir_a_registro-->
      <a href="registro.html">¿No tienes una cuenta? ¡Regístrate!</a><br>
      <!--ir_a_index-->
      <a href="index.html">Regresar</a>
    </center>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</section>

</body>

</html>